{% extends "layout.html.twig" %}

{% block pageHeader %}Organisation List{% endblock %}

{% block content %}
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>&nbsp;</th>
        </tr>
   {% for organisation in organisations %}
       <tr>
           <td>{{ organisation.name }}</td>
           <td>{{ organisation.phoneNumber }}</td>
           <td><a href="/organisations/{{ organisation.id }}">view</a></td>
       </tr>
   {% endfor %}
    </table>
{% endblock %}